#top-nav
{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#top-nav > .btn
{
	margin: 10pt 0pt;
    background: #f4f4f4;
    font-weight: 700;
    border-radius: 0;
    padding: 7pt 0;
    width: 240px;
    color: #000;   
    font-size: 1.3rem !important;   
    border-color: unset !important;
    border: unset;
}
#top-nav > .btn-outline-secondary:focus
{
    box-shadow:unset !important;
}
#top-nav > .btn:hover,#top-nav > .btn.active
{
	color:#fff;
    background:#2cace3;
    border-color:unset !important;
}

#top-nav.top-nav-tutorial
{
	display:block;
}
#top-nav.top-nav-tutorial > .btn
{
	    margin-right: 20pt;
}
@media only screen and (max-device-width: 900pt) {
    #top-nav.top-nav-tutorial{
        display: flex;
    }
    #top-nav.top-nav-tutorial>.btn{
        margin-right: 0;
    }
    #top-nav>.btn{
        width: 178px;
    }
}