

#top-search
{
    /*margin-top: 10pt;*/
    background:#2cace3;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
	padding-bottom: 30pt;
}

#top-search h2
{
	color: white;
    text-align: center;
    font-size: 60pt;   
    font-weight: bold;
    padding-top: 43pt;
	padding-bottom: 33pt;
}
#top-search .top-search-input-container
{
   
	 text-align: center;
	 position:relative;
	 width: 69.2%;
    margin: 0 auto;
    
}
#top-search .top-search-input-container input
{
	width: 100%;
    padding: 10pt;
	outline:none;
}
#top-search .top-search-input-container .fa
{
	position: absolute;
	font-size: 16pt;
    font-weight: lighter;
    top: 15pt;
    right: 10pt;
}
#top-search .top-search-input-container .fa:before
{
	color:gray;
}
#top-search  .top-search-catalog
{
	display: flex;
    justify-content: center;
	margin-top:25pt;
}
#top-search  .top-search-catalog > div
{
	width: 195pt;
    height: 158pt;
    text-align: center;
	border: 1px solid rgb(255,255,255,0);
}
#top-search .top-search-catalog > div > a > img
{
	display:block;
	margin: 0 auto;
	cursor:pointer;
}
#top-search .top-search-catalog > div > a > span
{
	color: white;
    text-align: center;
	padding-top: 20pt;
    font-weight: bold;
}

#top-search  .top-search-catalog > div:nth-child(2)
{
	margin-left:30pt;
}
#top-search  .top-search-catalog > div.active
{
	border: 1px solid white;
    background: rgb(255,255,255,0.1);
}
.suggest-option
{
    width:100%;
    background: white;  
    position: absolute;
    z-index: 10000;
}
#suggestText li{
    list-style: none;

}
#suggestText li:hover{
    cursor: pointer;
}

.suggest-option .result-item{
    color: var(--darkgrey);
    border: 1px solid #ccc;
    padding: 20px;
  
}
.suggest-option .result-item a{
    display: block;
    color:var(--darkgrey) ;
}
.suggestText{
    position: relative;
    width: 69.2%;
    margin: 0 auto 0 ;
}
.excerpt h2,.excerpt p,.excerpt h3,figure

{
    padding: 0;
    padding-top:unset !important;
    padding-bottom:unset !important;
    font-size: unset !important;
    font-weight: unset !important;
    margin-bottom: unset !important;
    margin: 0;
}
.excerpt img
{
    display: none;
}
@media only screen and (max-device-width: 900pt) {

    #top-search{
        height: unset;
        background:#ffffff;
        padding-bottom:6pt;
    }
    #top-search h2 {
     color: #2cace3;
     text-align: center;
     font-size: 24pt;
     font-weight: 700;
     padding-top:unset;
     padding-bottom:unset;
    }
    #top-search .top-search-input-container {
        text-align: center;
        position: relative;
        width: 95%;
        margin: 0px auto 0 ;
    }
    
    #top-search .top-search-input-container input{
        padding: 0pt;
        outline:none;
        border: 1px solid #ccc;
    }
    #top-search .top-search-catalog>div>a>img{
        height: 80px;
    }
    #top-search .top-search-catalog>div.active{
        height: 130px;
    }
    #top-search .top-search-input-container .fa
    {
        top: 4pt;
        right: 5pt;
        font-size: 10pt;
    }
    #left-nav-container .nav-link
    {
        opacity: 1;
    }
    　　::-webkit-input-placeholder {
        padding-left:10px;
    }
    .suggest-option {
        width: 100%;       
    }
    .suggestText
    {
        width: 95%; 
    }
}
 
@media (max-width: 580px) {
    #top-search{
        height: unset;
        background:#ffffff;
        padding-bottom:6pt;
    }
    #top-search h2 {
     color: #2cace3;
     text-align: center;
     font-size: 24pt;
     font-weight: 700;
     padding-top:unset;
     padding-bottom:unset;
    }
    #top-search .top-search-input-container {
        text-align: center;
        position: relative;
        width: 95%;
        margin: 0px auto 0 ;
    }
    
    #top-search .top-search-input-container input{
        padding: 0pt;
        outline:none;
        border: 1px solid #ccc;
    }
    #top-search .top-search-catalog>div>a>img{
        height: 80px;
    }
    #top-search .top-search-catalog>div.active{
        height: 130px;
    }
    #top-search .top-search-input-container .fa
    {
        top: 4pt;
        right: 5pt;
        font-size: 10pt;
    }
    #left-nav-container .nav-link
    {
        opacity: 1;
    }
    　　::-webkit-input-placeholder {
        padding-left:10px;
    }
    .suggest-option {
        width: 100%;       
    }
    .suggestText
    {
        width: 95%; 
    }
}


@media (max-width: 500px) {
  
   #site-main img{
	   max-width:100%;
   }
}




